
:root {
  --main-color:#118C4F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  padding: 3rem 12rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-color)
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
  height: 4.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
