
:root {
  --black:#1B1212;
  --soft-grey:#E8E8E8;
  --grey-green:#9EB0A2;
  --money-green:#118C4F;
  --money-blue:#0080ED;
  --money-red:#DD413D;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-container {
  padding: 3rem 12rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--money-green)
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
  height: 4.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border-top: 1px solid var(--grey-green);
}

h1 {
  font-size: 4rem;
  color: var(--black)
}

tbody > tr > td {
  border-width: 0.25px 0.25px 0.25px 0.25px
}

tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 2px;
}

tr:last-child > td:last-child {
  border-radius: 0 0 2px 0;
}

tr > th {
  font-weight: 900;
  border: solid var(--money-green);
  border-width: 0.5px 0.25px 0.25px 0.25px;
  padding-left: 0.5rem;
  text-align: left;
  font-size: 1rem;
}

th:first-child {
  border-width: .5px .25px .25px .5px;
  border-radius: 2px 0 0 0;
}

th:last-child {
  border-width: .5px .5px .25px .25px;
  border-radius: 0 2px 0 0;
}

tr:last-child > td > input {
  font-weight: 600;
}

td:first-child > input {
  color: var(--money-green);
}

td:last-child > input {
  font-weight: 600;
}